body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
    margin: 0;
    padding: 0;
}
a {
    -webkit-touch-callout: none;
    text-decoration: none;
}
em, i {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, button, textarea, select, optgroup, option {
    font-family: "Microsoft YaHei","微软雅黑",SimSun,"宋体";
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}
caption, th {
    text-align: left;
}
.calendar-body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fcfcfc;
    overflow: auto;
    z-index: 1000;
}
.calendar-body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fcfcfc;
    overflow: auto;
    z-index: 1000;
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}
.jm-header {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    color: #353535;
    box-shadow: 0 0 5px #000;
    position: relative;
    z-index: 10;
}
.jm-header-left_icon {
    height: 45px;
    width: 45px;
    left: 0;
    top: 0;
    position: absolute;
}
.jm-header-right_icon {
    height: 45px;
    width: 45px;
    right: 0;
    top: 0;
    position: absolute;
}
.jm-iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.jm-header-left_icon i, .jm-header-right_icon i {
    font-size: 30px;
    color: #39c3d0;
}
.jm-order-title {
    padding: 10px 15px;
}
.jm-datepicker {
    box-sizing: border-box;
}
.jm-datepicker .dateTable {
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
}
.jm-datepicker caption {
    height: 36px;
    border-top: 1px solid #cecdd1;
    border-bottom: 1px solid #cecdd1;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 36px;
}
.jm-datepicker th {
    width: 14.2847%;
    text-align: center;
    font-weight: 400;
    padding: 8px 0;
    box-sizing: border-box;
}
.jm-datepicker td {
    width: 14.2847%;
    text-align: center;
    font-weight: 400;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #dedde0;
    background-color: #f8f8f8;
    color: #c9c9c9;
}
.jm-datepicker td.active {
    background-color: #fff;
    color: #363636;
    vertical-align: top;
}
.jm-datepicker td .dateprice {
    color: #f60;
    font-size: 12px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px,0,0);
        transform: translate3d(2000px,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px,0,0);
        transform: translate3d(2000px,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig
}

@-webkit-keyframes fadeOutRightBig {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px,0,0);
        transform: translate3d(2000px,0,0)
    }
}

@keyframes fadeOutRightBig {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px,0,0);
        transform: translate3d(2000px,0,0)
    }
}

.fadeOutRightBig {
    -webkit-animation-name: fadeOutRightBig;
    animation-name: fadeOutRightBig
}
.selected{
    background-color: #39c3d0!important;
    color:#fff!important;
}
.selected-1{
    background-color: #39c3d0!important;
    color:#fff!important;
}
.selected1{
    background-color: #f3b865!important;
    color:#fff!important;
}

/*2016.5.18*/
.date-start-getDay,.date-end-getDay{
    display: inline-block;
    color: #53C4D0;
    top: 50%;
    width: 38px;
    text-align: center;
}
.date-start-getDate,.date-end-getDate{
    color: #53C4D0;
    display: inline-block;
}
.date-end-text,.date-start-text{
       position: absolute;
    top: 50%;
    margin-top: -10px; 
        left: 50%;
    margin-left: -60px;
    width: 120px;
}
.jm-date-start,.jm-date-end{
            height: 30px;
}
.jm-hotel-date-start-title,.jm-hotel-date-end-title{
                    left: 50%;
                position: absolute;
                top: 2px;
                width: 60px;
                text-align: center;
                margin-left: -40px;
                font-size: 12px;
        }

        .jm-date-start {
            width: 35%;
            float: left;
        }
        .jm-date-end {
            float: right;
            width: 37%;
        }
        .jm-list-date {
            position: absolute;
            top: 18px;
        }
        .day-hotel-count{
                box-sizing: border-box;
                width: 60px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                font-size: 12px;
                position: absolute;
                right: -44px;
                top: 50%;
                margin-top: -18px;
        }
        .day-hotel-count em{
                    display: inline-block;
                border: 1px solid #e0e0e0;
                border-radius: 50%;
                width: 36px;
                height: 36px;
        }
        .jm-form-item .jm-list-action-l input {
            text-align: left;
        }  
@media (max-width: 320px){
            .day-count{
                margin-top: -18px;
                    right: -46px;
            }
}

        .hide{
            display:none;
        }
.hotel-index-day-count{
                box-sizing: border-box;
                width: 60px;
                height: 36px;
                border-radius: 50%;
                text-align: center;
                line-height: 36px;
                font-size: 12px;
                position: absolute;
                top: 50%;
                background-color: #fff;

                    z-index: 0;
                right: 50%;
                margin-right: -30px;
                margin-top: -5px;
        }
        .hotel-index-day-count em{
                    display: inline-block;
                border: 1px solid #e0e0e0;
                border-radius: 50%;
                width: 36px;
                height: 36px;
        }
        @media (max-width: 320px){
            .hotel-index-day-count {
                margin-right: -36px;
            }
        }